Diy_8-1_ForEach_Watermarking/target/META-INF/mule-src/fnd_diy_7-1_customer-account-records/src/main/mule/process-customer-accounts-records.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="read-db-accounts-to-csv-auto-watermarking" doc:id="42a1e0d9-98b1-4453-b67a-d893d87ec487">
		<db:listener doc:name="customers_flights" doc:id="055ee0ee-673d-46b1-b391-5b509c393b4e" config-ref="MySQL_Database_Config" table="flights_customers" watermarkColumn="accountID">
			<scheduling-strategy>
				<fixed-frequency frequency="5" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</db:listener>
		<set-variable value='#[Mule::p("accounts.folder.out") ++ "diy_auto_wm/"++ &#10;Mule::p("accounts.filename.prefix") ++ "-" ++ &#10;dw::core::Strings::dasherize(payload.country as String) ++ "-" ++&#10;now() as String {format: "yyyyMMdd"} ++&#10;Mule::p("accounts.filename.ext")]' doc:name="fileName" doc:id="1a237b93-3a53-4c84-8e20-bc4361e2f087" variableName="fileName"/>
		<file:write doc:id="1bde07a9-c54e-42ab-8b85-7e1bc833792b" doc:name="Accounts per country per date" path="#[vars.fileName]" mode="APPEND">
			<file:content ><![CDATA[#[output application/csv header=false
---
payload]]]></file:content>
		</file:write>
		<logger level="INFO" doc:name="Logger" doc:id="d0c2a8ee-c4e9-43ec-a85a-fd844fd1fe7f" message="#[output application/json --- {
	filename: vars.fileName,
	p: payload
}]"/>
	</flow>
</mule>
